<!DOCTYPE html>
<html>
<style>
body {
  background-image: url('covid.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.button {
  background-color: #87ceeb;
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  display: inline-block;
  font-size: 27px;
  margin: 10px 10px;
  cursor: pointer;
}


</style>
<head>
	<title> Main Page </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <br><br><br><br>
<div align="center">
	<button class="button" onclick="window.location.href = 'https://www.youtube.com/watch?v=--jhKVdZOJM&ab_channel=YogaWithAdriene';">Promote Yoga</button>
  <button class="button" onclick="window.location.href = 'https://blogs.worldbank.org/covid19';">Blogs on Covid 19</button>
  <br><br>
  <div class="container">
 <div align="center">
  <img src="https://img.freepik.com/free-vector/woman-yoga-position-landing-page_52683-22948.jpg?size=626&ext=jpg" alt="">
 </div>
  </div>
</div>
</body>
</html>