<!DOCTYPE html>
<html>
<style>
body {
  background-image: url('/images/covid.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.button {
  background-color: #87ceeb;
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  display: inline-block;
  font-size: 27px;
  margin: 10px 10px;
  cursor: pointer;
}
./*a{
	font-family: "Times New Roman", Times, serif;
	font-size: 27px;

}*/

</style>
<head>
	<title> Main Page </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div align="center">
	<button class="button">About</button>
	<input type="button" class="button" value="Resources">
	<input type="button" class="button" value="Place Order">
	<input type="button" class="button" value="Donate">
	<input type="button" class="button" value="Help/Discussion">
	<input type="button" class="button" value="Our Team">
	<input type="button" class="button" value="Login/Signup">
	</div>
<div align="center">
	<a href="https://play.google.com/store/apps/details?id=nic.goi.aarogyasetu&hl=en_IN">Download Arogya Setu App</a>
	<button class="button">Counselling</button>
	<button class="button">Check needs</button>
	<button class="button">Want to volunteer</button>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>